<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
	<!-- content body -->
	<!-- 페이지 제작시 변경되는 영역 : 눈에 보이는 영역  -->
	<div layout:fragment="content">
	</div>
	

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>
  <script th:src="@{/js/plugins.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  
  <!-- 아무런 태그가 없는 영역을 표시할 때 사용 -->
  <!-- 매 페이지에서 필요한 javascript 코드를 넣어주는 custom javascript 영역 -->
  <th:block layout:fragment="script"></th:block>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>